.carousel-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
body {
  background-color: #003366;
}
.icon {
  width: 48px;
  height: 48px;
}

#banner {
  background-color: #ffcc99;
  padding: 50px 0;
  text-align: center;
}

#contenido {
  display: flex;
  margin-top: 50px;
}
#nuestros-afiliados {
  background-color: #ffffff;
  width: 25%;
}

#nuestros-afiliados-right {
  background-color: #ffffff;
  width: 25%;
}

.cuadro-afiliado {
  text-align: center;
  margin-bottom: 20px;
}
.cuadro-afiliado-r {
  text-align: center;
  margin-bottom: 20px;
}
.title {
  font-size: small;
  background-color: #f4f4f4;
}

#productos {
  width: 50%;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se coloquen en filas */
  justify-content: space-between; /* Distribuye los elementos de manera uniforme */
}

.cuadro-producto {
  display: flex;
  align-items: stretch; /* Hace que los cuadros tengan la misma altura */
  margin-bottom: 20px;
}

.cuadro-producto img {
  width: 100px;
  height: auto;
}

.producto-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Ajusta el tamaño mínimo de los cuadros de producto */
.producto-info h5,
.producto-info p,
.producto-info button {
  margin: 0;
  padding: 5px;
}


.product-title {
  color: #f4f4f4;
display: flex;
text-align: center;
align-items: center;
font-weight: bold;
padding: 20px;

}

.card-title {
    text-align: center;
}

.container {
    position: sticky;
    top: 100px;
}